.discoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.discoContainer ul img {
    width: 250px;
    height: 250px;
}

.discoContainer li {
    list-style: none;
}

.listItem {
    display: flex;
    margin: 50px;
}

.listItem h1 {
    font-size: 25px;
    margin: 0px 50px 0px 100px;
}

.tracklist {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    .discoContainer ul {
        width: 80%;
    }

    .listItem {
        display: flex;
        flex-direction: column;
    }

    .tracklist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .tracklist h1 {
        margin: 0px;
    }

    .tracklist li {
        margin: 0px;
    }
}

@media screen and (max-width: 900px) {  
    .listItem {
        display: flex;
        flex-direction: column;
    }
  
    .tracklist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
