.discoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.discoContainer ul {
    width: 50%;
}

.discoContainer ul img {
    width: 250px;
    height: 250px;
}

.discoContainer li {
    list-style: none;
}

.listItem {
    display: flex;
    margin: 50px;
    justify-content: space-around;
}

.listItem h1 {
    font-size: 25px;
}

.tracklist {
    padding: 5px;
    align-self: flex-start;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    .discoContainer ul {
        width: 80%;
    }

    .listItem {
        display: flex;
        flex-direction: column;
    }

    .tracklist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .tracklist {
        margin-left: 25px;
    }
}

@media screen and (max-width: 900px) {  
    .listItem {
        display: flex;
        flex-direction: column;
    }
  
    .tracklist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
