.yearContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.yearNav {
    margin-top: 25px;
}

.yearNav p {
    margin-left: 5px;
}

.yearLink {
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.yearLink:hover {
    text-decoration: none;
}

.yearContainer h1 {
    font-size: 35px;
}

.blogPost {
    margin-bottom: 100px;
}

.yearContainer ul {
    width: 33%;
}

.yearContainer li {
    text-align: center;
    list-style: none;
    padding: 25px;
}

.blogImage {
    height: 250px;
    width: 250px;
}